.collection-list-wrapper {
	width: 1140px;
	position: relative;

	.collection-list-item {
		margin: 0 auto;
		width: 177px !important;
		&:hover {
			.list-item-image {
				img {
					transform: scale(1.05);
				}
			}
		}
		.list-item-image {
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.list-item-btn {
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 16.8px;
			background-color: #f6b73b;
			color: #fff;
			width: 100%;
			height: 45px;
			text-transform: uppercase;
			&:hover {
				background-color: #fff;
				color: #f6b73b;
			}
		}
	}
	.btn-wrapper {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: space-between;

		.btn-arrow {
			font-size: 20px;
			&.left {
				margin-left: 10px;
			}
			&.right {
				margin-right: 20px;
			}
		}
	}
}
